-c requirements.txt
-e file:.
# building tools
build
twine
sphinx>=4,<5
sphinx-rtd-theme>=0.5.2
# checks
black>=22.3.0
coverage
mypy>=0.790
pytest>=6,<7
pytest-postgresql>=4
pytest-mysql>=2
pytest-asyncio>=0.14.0,<1
flake8
# drivers
aiosqlite>=0.16.0,<1
asyncpg>=0.21.0,<1
psycopg>=3
psycopg2-binary>=2.8.6,<3
psycopg2<3
mysqlclient>=2
pymysql>=1
mysql-connector>=2.2
apsw
pg8000
