-c requirements.txt
-e file:.
build
twine
black>=22.3.0
pytest>=6,<7
pytest-postgresql>=4
pytest-mysql>=2
aiosqlite>=0.16.0,<1
asyncpg>=0.21.0,<1
pytest-asyncio>=0.14.0,<1
psycopg>=3
psycopg2-binary>=2.8.6,<3
psycopg2<3
mypy>=0.790
sphinx>=4,<5
sphinx-rtd-theme>=0.5.2
coverage
# NO: flake8
mysqlclient>=2
pymysql>=1
mysql-connector>=2.2
apsw
