-e file:.
# building tools
build
wheel
twine
sphinx>=4,<5
sphinx-rtd-theme>=0.5.2
rstcheck
# checking tools
black>=22.3.0
coverage
# FIXME drop when 3.7 is retired
flake8<4 ; python_version<='3.7'
flake8>=4 ; python_version>='3.8'
mypy>=0.790
pytest>=7
pytest-asyncio>=0.14.0,<1
pytest-postgresql>=4
# pytest-mysql>=2
# drivers to test
#
# SQLite3 drivers
#
aiosqlite>=0.16.0,<1
apsw
#
# MySQL drivers
#
# mariadb  ## incompatible with mysql?
# mysqlclient>=2
# FIXME: which one?
## mysql-connector>=2.2
# mysql-connector-python
# pymysql>=1
#
# Postgres drivers
#
asyncpg>=0.21.0,<1
pg8000
psycopg>=3
psycopg2-binary>=2.8.6,<3
psycopg2<3
pygresql
