[build-system]
requires = ["setuptools", "setuptools-scm"]
build-backend = "setuptools.build_meta"

[project]
name = "aiosql"
version = "9.4"
authors = [ { name = "William Vaughn et al.", email = "vaughnwilld@gmail.com" } ]
description = "Simple SQL in Python"
readme = "README.rst"
requires-python = ">=3.8"
license = { text = "BSD 2-Clause License" }
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: BSD License",
    "Operating System :: OS Independent"
]

[project.optional-dependencies]
dev = [
    "pytest<8", "pytest-asyncio",
    "rstcheck", "black", "coverage", "flake8",
    "mypy", "pyright", "types-setuptools", "build"
]
dev-duckdb = [
    # FIXME duckdb does not compile on 3.12.0 on 2023-12-06
    # NOTE leaving it out breaks coverage
    "duckdb; python_version < '3.12'"
    # "duckdb"
]
dev-sqlite = [
    "aiosqlite", "apsw"
]
dev-postgres = [
    "pytest-postgresql",
    "asyncpg",
    "psycopg>=3", "psycopg2", "psycopg2-binary",
    "pygresql", "pg8000"
]
dev-mysql = [
    "pytest-mysql",
    "mysqlclient", "mysql-connector-python", "pymysql"
]
dev-mariadb = [
    "mariadb"
]
dist = [
    "build", "wheel", "twine",
    "sphinx >= 4, < 5", "sphinx-rtd-theme >= 0.5.2"
]

[tool.setuptools.package-data]
aiosql = [ "py.typed" ]

[tool.setuptools.packages.find]
include = [ "aiosql", "aiosql.adapters" ]
exclude = [ "tests" ]

[project.urls]
repository = "https://github.com/nackjicholson/aiosql"
documentation = "https://nackjicholson.github.io/aiosql/"
issues = "https://github.com/nackjicholson/aiosql/issues"
package = "https://pypi.org/project/aiosql/"

[tool.black]
line-length = 100
target-version = ["py38"]

[tool.mypy]
exclude = ["(build|venv)/", ".*/virtualenvs/.*"]
ignore_missing_imports = true
