[tool.poetry]
name = "aiosql"
version = "3.1.0"
description = "Simple SQL in Python."
authors = ["William Vaughn <vaughnwilld@gmail.com>"]
license = "FreeBSD"
repository = "https://github.com/nackjicholson/aiosql"
readme = "README.md"
keywords = ["SQL", "asyncio", "PostgreSQL", "sqlite", "psycopg2"]

[tool.poetry.dependencies]
python = "^3.6"

[tool.poetry.dev-dependencies]
black = "19.10b0"
flake8 = "^3.8"
pytest = "^5.4.3"
aiosqlite = "^0.13.0"
pytest-postgresql = "^2.4.0"
asyncpg = "^0.20.1"
sphinx = "^1.8"
invoke = "^1.2"
pytest-asyncio = "^0.14.0"
psycopg2-binary = "^2.8.5"

[tool.black]
line-length = 100
target-version = ["py36"]
